<section id="skills">
    <div id="skillsTip">Click a skillset to dig in.</div>
    <div id="shifter">
        <div id="mySkills" class="outer">
            <div class="inner">My Skills</div>
        </div>
        <div id="skillsets">
            <div id="skillsetLang" class="outer" data-color="rgb(135, 219, 47)">
                <div class="inner">Languages</div>
            </div>
            <div id="skillsetCompat" class="outer" data-color="rgb(243, 42, 72)">
                <div class="inner">Compatibility</div>
            </div>
            <div id="skillsetStruct" class="outer" data-color="rgb(82, 205, 221)">
                <div class="inner">Structure</div>
            </div>
            <div id="skillsetRapidDev" class="outer" data-color="rgb(158, 126, 215)">
                <div class="inner">Rapid<br />Development</div>
            </div>
            <div id="skillsetFlex" class="outer" data-color="rgb(229, 187, 72)">
                <div class="inner">Flexibility</div>
            </div>
        </div>
    </div>
</section>
