<section id="skills">
    <div id="skillsTip">Click a skill set to dig in.</div>
    <div id="mySkills" class="outer">
        <div class="inner">My Skills</div>
    </div>
    <div id="skillsets">
        <div id="skillsetLang" class="outer">
            <div class="inner">Languages</div>
        </div>
        <div id="skillsetCompat" class="outer">
            <div class="inner">Compatibility</div>
        </div>
        <div id="skillsetStruct" class="outer">
            <div class="inner">Structure</div>
        </div>
        <div id="skillsetRapidDev" class="outer">
            <div class="inner">Rapid<br />Development</div>
        </div>
        <div id="skillsetFlex" class="outer">
            <div class="inner">Flexibility</div>
        </div>
    </div>
</section>
