<section id="skills">
    <div id="slantLeft" class="slant"></div>
    <div id="slantRight" class="slant"></div>
    <div id="skillsTip">Click a skillset to dig in.</div>
    <div id="shifter">
        <div id="mySkills" class="outer">
            <div class="inner">My Skills</div>
        </div>
        <div id="skillsets">
            <div id="skillsetLang"
                 class="click outer"
                 data-color="rgb(135, 219, 47)">
                <div class="inner">Languages</div>
            </div>
            <div id="skillsetCompat"
                 class="click outer"
                 data-color="rgb(243, 42, 72)">
                <div class="inner">Compatibility</div>
            </div>
            <div id="skillsetStruct"
                 class="click outer"
                 data-color="rgb(82, 205, 221)">
                <div class="inner">Structure</div>
            </div>
            <div id="skillsetAgileDev"
                 class="click outer"
                 data-color="rgb(158, 126, 215)">
                <div class="inner">Agile<br>Development</div>
            </div>
            <div id="skillsetFlex"
                 class="click outer"
                 data-color="rgb(229, 187, 72)">
                <div class="inner">Flexibility</div>
            </div>
        </div>
    </div>
    <div id="skillsBack" class="click">Back</div>
    <div id="skillsetDetails">
        <div data-skillset="skillsetLang">
            <div class="col-left">
                <ul>
                    <li>C#
                        <ul>
                            <li>Unity</li>
                        </ul>
                    </li>
                    <li>JS
                        <ul>
                            <li>jQuery</li>
                            <li>Angular</li>
                            <li>Green<span id="gsap">Sock</span></li>
                        </ul>
                    </li>
                    <li>HTML5
                        <ul>
                            <li>Bootstrap <small>v</small>3</li>
                        </ul>
                    </li>
                    <li>CSS3</li>
                </ul>
            </div>
            <div class="col-right">
                <ul>
                    <li>PHP5</li>
                    <li>DB
                        <ul>
                            <li>SQL</li>
                            <li>MySQL</li>
                        </ul>
                    </li>
                    <li>Package Managers
                        <ul>
                            <li>NPM</li>
                            <li>Bower</li>
                        </ul>
                    </li>
                    <li>Source Control
                        <ul>
                            <li>Git</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div data-skillset="skillsetCompat">
            <div class="col-left">
                <ul>
                    <li>Platforms
                        <ul>
                            <li>Windows</li>
                            <li>Mac OS</li>
                            <li>Linux</li>
                            <li>Android</li>
                        </ul>
                    </li>
                <ul>
            </div>
            <div class="col-right">
                <ul>
                    <li>Devices
                        <ul>
                            <li>PC</li>
                            <li>Tablet</li>
                            <li>Mobile</li>
                        </ul>
                    </li>
                    <li>Performance
                        <ul>
                            <li>Hardware scaling</li>
                            <li>Latest technologies</li>
                            <li>Cache-driven</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div data-skillset="skillsetStruct">
            <div class="col-center">
                <ul>
                    <li>Easy to maintain code
                        <ul>
                            <li>Encapsulation</li>
                            <li>Clear comments</li>
                        </ul>
                    </li>
                    <li>Quickly add content and features
                        <ul>
                            <li>Inheritance-based</li>
                            <li>Reusable</li>
                        </ul>
                    </li>
                    <li>Human readable
                        <ul>
                            <li>Meaningful naming</li>
                            <li>Consistent format</li>
                            <li>Object-oriented</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div data-skillset="skillsetAgileDev">
            <div class="col-center">
                <ul>
                    <li><a href="https://en.wikipedia.org/wiki/Disciplined_agile_delivery" target="_blank">Disciplined agile delivery</a></li>
                    <li>Rapid prototyping</li>
                    <li>Respectful of deadlines</li>
                    <li>Goal-oriented</li>
                </ul>
            </div>
        </div>
        <div data-skillset="skillsetFlex">
            <div class="col-center">
                <ul>
                    <li>Learns new tech quickly</li>
                    <li>Open to emerging concepts</li>
                    <li>Multi-tasks as a routine</li>
                    <li>Adaptable to changing needs</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="projects">
    <div class="container-fluid">
        <div class="row">
            <div id="projectsHeader" class="col-xs-12 header">
                <div>My Projects</div>
            </div>
        </div>
    </div>
    <div id="projectsContent" class="container-fluid">
        <div id="trashhouse" class="row project">
            <div class="hidden-sm col-md-4 img"></div>
            <div class="col-sm-12 col-md-8 projectInfo">
                <span class="large">Trash House</span>
                <a href="https://www.youtube.com/watch?v=UWxKE7k_pv4" target="_blank"><span class="small">YouTube</span></a>
                <br>
                <p><em>Trash House</em> is a professional 3D simulation designed in <span class="accent">Unity</span> for <a href="http://www.wilmu.edu/" target="_blank">Wilmington University</a>. It stems from a field trip their Sociology students would take to a purposefully trashed house. The goal - search for evidence that partains to a case study <small>i.e.</small> potential child abuse. <em>Trash House</em> recreates the experience for online and disabled students - fully controlled by mouse or touch screen and maintained by a custom web &amp; database backend for instructors.</p>
            </div>
        </div>
        <div id="theforge" class="row project">
            <div class="hidden-sm col-md-4 img"></div>
            <div class="col-sm-12 col-md-8 projectInfo">
                <span class="large">The Forge</span>
                <a href="http://www.thewrightreason.com/theforge" target="_blank"><span class="small">Demo</span></a>
                <a href="https://github.com/pvaneck/Ferghus" target="_blank"><span class="small">View Source</span></a>
                <br>
                <p>Created as a fun learning experience using <span class="accent">Angular</span>, <em>The Forge</em> consists of two simulators based on minigames from the game <a href="https://en.wikipedia.org/wiki/Vindictus" target="_blank">Vindictus</a>. The app <em>Brynn</em> was created in five days, while the app <em>Ferghus</em> was created in just two days after that. These apps were collaborated together with a friend utilizing Git. Take a peek at the <a href="https://github.com/pvaneck/Ferghus" target="_blank">source</a> and our <a href="https://trello.com/b/jIRt5WOu/the-forge" target="_blank">Trello board</a> to check things out from behind the scenes.</p>
            </div>
        </div>
        <div id="portfolio" class="row project">
            <div class="hidden-sm col-md-4 img"></div>
            <div class="col-sm-12 col-md-8 projectInfo">
                <span class="large">This Site!</span>
                <a href="https://github.com/cwright814/Portfolio" target="_blank"><span class="small">View Source</span></a>
                <br>
                <p>This entire website was hand-crafted by myself and serves as a representation of my work. With core development starting on Nov. 20th, 2015, this page was made live on Dec. 3rd, 2015 - <span class="accent">less than two weeks</span>. You can view the source code on <a href="https://github.com/cwright814/Portfolio" target="_blank">GitHub</a>, which includes a link to my <a href="https://trello.com/b/57T8Ugoe/portfolio" target="_blank">Trello board</a>. I have included write-ups and design documents - feel free to sift through!</p>
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="container-fluid">
        <div class="row">
            <div id="contactHeader" class="col-xs-12 header">
                <div>Let's Chat</div>
            </div>
        </div>
    </div>
    <div id="contactContent" class="container-fluid">
        <div class="row">
            <div class="col-xs-7">
                <div id="photo"></div>
                <ul>
                    <li id="name">Christopher Wright</li>
                    <li id="email">chris<span class="dim">@thewrightreason.com</span></li>
                    <li id="phone"><span class="dim">302-</span>402-3802</li>
                </ul>
            </div>
            <div id="social" class="col-xs-5">
                Connect with me on <a href="https://www.linkedin.com/in/christopher-wright-22ba69ba" target="_blank">LinkedIn</a>
            </div>
        </div>
    </div>
</section>
