[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    min-width: 927px;

    background-color: rgb(29, 29, 26);

    color: rgb(222, 218, 208);
}

p {
    text-indent: 2em;
}

.xsmall {
    font-size: 50%;
}

.small {
    font-size: 75%;
}

.large {
    font-size: 150%;
}

.xlarge {
    font-size: 200%;
}

.click {
    cursor: pointer;
}

.img {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-origin: content-box;
}

div.outer {
    display: table;
}

div.outer > div.inner {
    display: table-cell;
    vertical-align: middle;
}

#content {
    background-color: rgb(36, 37, 32);

    color: rgb(247, 247, 241);
}