[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    background-color: rgb(29, 29, 26);
    color: rgb(222, 218, 208);
}

.small {
    font-size: 50%;
}

.large {
    font-size: 150%;
}

.click {
    cursor: pointer;
}

div.outer {
    display: table;
}

div.outer > div.inner {
    display: table-cell;
    vertical-align: middle;
}

#content {
    background-color: rgb(43, 44, 38);
    color: rgb(247, 247, 241);
}