header {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

#glow {
    width: 100%;
    height: 300px;
    margin-top: 150px;
    background: radial-gradient(ellipse at center, rgb(56, 76, 102) 0%, rgb(29, 29, 26) 67%);
        /* rgb(52, 142, 253) */
    z-index: 0;
}

#particles {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

#particle {
    display: none;
    position: absolute;
}

#titleOuter {
    display: table;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 300px;
    z-index: 4;
}

#titleInner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 2em;
    z-index: 4;
}

@media (max-width: 479px), handheld and (orientation: portrait) {
    #titleInner {
        font-size: 1.25em;
    }
}

@media (max-width: 959px) {
    #shiftLeft {
        margin-right: 144px;
        padding-right: 10%;
    }

    #shiftRight {
        padding-left: 10%;
    }
}

@media (min-width: 960px) {
    #shiftLeft {
        padding-right: 240px;
    }

    #shiftRight {
        padding-left: 96px;
    }
}
