#content {
    width: 100%;
}

#content > section {
    position: relative;

    width: inherit;
}

#skills {
    height: 600px;
    padding-top: 20px;
}

#skills div:not(.inner) {
    position: absolute;
}

#skillsTip {
    left: 5%;
    z-index: 2;

    font-size: 1.75em;
    text-shadow: 2px 2px 4px rgb(10, 10, 9);
}

@media (max-width: 979px) {
    #skillsTip {
        top: calc(10px + 4vw);
    }
}

@media (min-width: 980px) {
    #skillsTip {
        top: 50px;
    }
}

#mySkills {
    left: calc(50% - 86px);
    top: calc(50% - 86px);
    width: 172px;
    height: 172px;
    z-index: 1;

    background-color: rgb(29, 29, 26);
    border-radius: 50%;
    box-shadow: inset 0 0 3px rgb(222, 218, 208);

    color: rgb(222, 218, 208);
    text-align: center;
    font-size: 1.75em;
}

#skillsets, #shifter {
    width: inherit;
    height: inherit;
}

#skillsets > div {
    left: calc(50% - 86px);
    top: calc(50% - 86px);
    width: 172px;
    height: 172px;
    z-index: 0;

    background-color: rgb(29, 29, 26);
    border-radius: 50%;
    box-shadow: inset 0 0 4px rgb(222, 218, 208);

    font-size: 1.6em;
    text-align: center;

    cursor: pointer;
}
