#content {
    width: 100%;
    height: 2400px; /* For debugging */
    background-color: #444440; /* For debugging */
}

#content > section {
    position: relative;

    width: inherit;
}

#skills {
    height: 600px;
    padding-top: 20px;
    background-color: rgb(43, 44, 38); /* For debugging */
}

#skills div:not(.inner) {
    position: absolute;
}

#skillsTip {
    left: 5%;
    z-index: 3;

    font-size: 1.75em;
    text-shadow: 2px 2px 4px rgb(10, 10, 9);
}

@media (max-width: 979px) {
    #skillsTip {
        top: calc(10px + 4vw);
    }
}

@media (min-width: 980px) {
    #skillsTip {
        top: 50px;
    }
}

#mySkills {
    left: calc(50% - 86px);
    top: calc(50% - 86px);
    width: 172px;
    height: 172px;
    z-index: 1;

    background-color: rgb(29, 29, 26);
    border-radius: 50%;

    color: rgb(222, 218, 208);
    text-align: center;
    font-size: 1.75em;
}

#skillsets, #shifter {
    width: inherit;
    height: inherit;
}

#skillsets {
    opacity: 0;
}

#skillsets > div {
    left: calc(50% - 86px);
    top: calc(50% - 86px);
    width: 172px;
    height: 172px;
    z-index: 0;

    background-color: rgb(29, 29, 26);
    border-radius: 50%;

    font-size: 1.6em;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(10, 10, 9, 0.3);

    cursor: pointer;
}

/*#skillsets > div:hover {
    box-shadow: inset 0 0 16px rgb(222, 218, 208);
}*/
