#content {
    width: 100%;
}

#content > section {
    position: relative;

    width: inherit;
}

#skills {
    overflow: hidden;

    height: 600px;
    padding-top: 20px;

    background-color: rgb(43, 44, 38);
}

#skills div:not(.inner) {
    position: absolute;
}

#shifter,
#skillsets,
#skillsetDetails,
#skillsetDetails > div {
    width: inherit;
    height: inherit;
}

.slant {
    width: 30%;
    height: inherit;
    margin-top: -20px;

    background-color: rgb(36, 37, 32);
}

#slantLeft {
    -ms-transform: skew(-20deg) translateX(-172px);
    transform: skew(-20deg) translateX(-172px);
}

#slantRight {
    left: 70%;

    -ms-transform: skew(-20deg) translate(172px);
    transform: skew(-20deg) translate(172px);
}

#skillsTip {
    left: 5%;
    z-index: 3;

    font-size: 1.75em;
    text-shadow: 2px 2px 4px rgb(10, 10, 9);
}

@media (max-width: 979px) {
    #skillsTip {
        top: calc(10px + 4vw);
    }
}

@media (min-width: 980px) {
    #skillsTip {
        top: 50px;
    }
}

#mySkills {
    left: calc(50% - 86px);
    top: calc(50% - 86px);
    width: 172px;
    height: 172px;
    z-index: 1;

    background-color: rgb(29, 29, 26);
    border-radius: 50%;

    color: rgb(222, 218, 208);
    text-align: center;
    font-size: 1.75em;
}

#skillsets {
    opacity: 0;
}

#skillsets > div {
    left: calc(50% - 86px);
    top: calc(50% - 86px);
    width: 172px;
    height: 172px;
    z-index: 0;

    background-color: rgb(29, 29, 26);
    border-radius: 50%;

    font-size: 1.6em;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(10, 10, 9, 0.3);
}

#skillsBack {
    visibility: hidden;

    bottom: 10%;
    padding: 5px calc(2% + 12px);
    z-index: 1;
    
    background-color: rgb(43, 44, 38);
    border-radius: 0 19px 19px 0;
    
    color: rgb(222, 218, 208);
    font-size: 1.4em;
}

#skillsetDetails {
    visibility: hidden;

    top: 15%;
    z-index: 0;
    
    font-size: 2em;
}

#skillsetDetails,
#skillsetDetails ul ul {
    color: rgb(222, 218, 208);
}

#skillsetDetails > div {
    visibility: hidden;
}

#skillsetDetails div > ul > li {
    padding-bottom: 20px;
}

#skillsetDetails .col-left {
    left: calc(35% + 15px);
}

#skillsetDetails .col-center {
    left: 40%;
}

#skillsetDetails .col-right {
    left: calc(60% + 30px);
}

#gsap { /* Because these guys are awesome */
    color: rgb(122, 208, 36);
    font-weight: bolder;
}

@media (min-width: 945px) {
    #projectsHeader {
        font-size: calc(1.5vw + 20px);
    }

    #projectsContent {
        padding: 0 calc(30vw - 268px);
    }

    .project {
        height: calc(10vw + 120px);
    }

    .projectInfo {
        font-size: calc(0.65vw + 9px);
    }

    .project p {
        margin-top: 0.5vw;
    }
}

@media (max-width: 944px) {
    #projectsHeader {
        font-size: 34.15px;
    }
    
    .project {
        height: 214.5px;
    }

    .projectInfo {
        font-size: 15.1333px;
    }

    .project p {
        margin-top: 4.7px;
    }
}

#projectsHeader {
    margin-bottom: 20px;
    padding-top: 50px;
    padding-bottom: 20px;

    background-color: rgb(29, 29, 26);

    color: rgb(222, 218, 208);
    text-align: center;
}

.project {
    padding: 1% 3%;

    background-color: rgb(43, 44, 38);
    background-clip: content-box;
}

.project > div {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.project > div > a {
    padding-left: 10px;
}

.project p {
    line-height: 136%;
    color: rgb(222, 218, 208);
}

.project > .img {
    border-right: 20px solid rgb(36, 37, 32);
}

#trashhouse .img {
    background-image: url("../img/trashhouse.jpg");
}

#trashhouse .large, #trashhouse .accent {
    color: rgb(158, 126, 215);
}

#theforge .img {
    background-image: url("../img/theforge.png");
}

#theforge .large, #theforge .accent {
    color: rgb(122, 208, 36);
}

#portfolio .img {
    background-image: url("../img/portfolio.png");
}

#portfolio .large, #portfolio .accent {
    color: rgb(229, 187, 72);
}
